main {
    margin: auto;
    max-width: 1170px;
}

.explore {
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    column-gap: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;

}


.explore_head {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.explore_content {
    margin-top: -10px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
}

.explore_search {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;

    border: none;
    outline: none;


}

.inp1,
.btn_primary {

    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    padding-left: 15px;
    border: none;
    outline: none;


}

.btn_primary {
    background: #FF5400;
    color: #FFF;
    font-weight: 700;


}

.inp2 i {
    background: rgba(255, 255, 255, 0.30);
    margin-left: -25px;
}



#popular_tours {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;

}

.popHead h1,
#chooseDestination .chooseText h1,
#whyCUS h1 {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.pop,
.ul {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 525px;

}

.pop {
    width: 577px;
}

.popImg {
    max-width: 100%;
}

.popImage img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;


}

#chooseDestination {
    text-align: center;
    margin: 100px 0px;
}


#chooseDestination .chooseText h1,
#whyCUS h1 {
    text-align: center;
    margin-top: 100px;

}

.chooseText p,
#whyCUS .g {

    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#chooseDestination .popImg {
    width: 100%;
    height: 100%;
}

.row {
    height: 300px;
    display: grid;
    gap: 24px;
    margin-bottom: 24px;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 16px;
}

.row1 {
    height: 286px;
    display: grid;
    grid-template-columns: 374px 470px 277px;
    gap: 24px;
    border-radius: 16px;
    margin-bottom: 24px;
}

.row2 {
    height: 300px;
    display: grid;
    grid-template-columns: 473px 673px;
    gap: 24px;
    border-radius: 16px;

}

.maldives {
    background-image: url('../Images/Rectangle 5.png');
    background-repeat: no-repeat;
    background-position: center;
}

.indonesia {
    background-image: url('../Images/Rectangle 8.png');

    background-repeat: no-repeat;
    background-position: center;
}

.srilanka {
    background-image: url('../Images/Rectangle 6.png');

    background-repeat: no-repeat;
    background-position: center;
}

.north {
    background-image: url('../Images/Rectangle 7.png');

    background-repeat: no-repeat;
    background-position: center;
}

.kashmir {
    background-image: url('../Images/Rectangle 9.png');

    background-repeat: no-repeat;
    background-position: center;
}

.bd {
    background-image: url('../Images/Rectangle 10.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.ban {
    background-image: url('../Images/Rectangle 11.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.maldives,
.indonesia,
.srilanka,
.north,
.kashmir,
.bd,
.ban {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.maldives h3,
.indonesia h3,
.srilanka h3,
.north h3,
.kashmir h3,
.bd h3,
.ban h3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}


#whyCUS .choose {

    display: flex;
    gap: 24px;
    height: auto;


}

#whyCUS .c3 {
    margin: 24px auto;
    gap: 24px;
    height: auto;


}

#whyCUS .c1,
.c2,
.c3 {
    width: 573px;
    height: 284px;
    border-radius: 16px;

}

#whyCUS .c1 {


    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

#whyCUS .c2 {

    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#whyCUS .c3 {

    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    justify-self: center;

}



#whyCUS h3 {

    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 18px;
    border: #FF5400;
    margin-top: 5px;
    margin-bottom: 0px;
}

#whyCUS .gg {

    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
    margin-left: 18px;

}

.c1 img,
.c2 img,
.c3 img {
    width: 64px;
    height: 64px;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 18px;

}

footer {
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 502px;
    margin-top: 100px;

}

footer .contain {
    margin-top: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer .contain .des {
    margin-top: 33px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.logoname {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.logo {
    width: 40px;
    height: 36.673px;
    margin: 5px;

}

.name .h3 {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   
}

.social {
    display: flex;
    gap: 1.5rem;
    margin-top: 33px;

    width: 100%;
    height: 24px;
    justify-content: center;

}

.line {
    margin-top: 33px;
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
    height: 1px;
  
}

@media screen and (max-width:576px) {
    .explore {
        width: 100%;
        height: 500px;


    }

    .explore_search {
        display: flex;
        width: 200px;
        height: 200px;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
    }

    .explore_head {
        font-size: 22px;
    }

    .explore_content {
        font-size: 14px;
        width: 304px;
    }

    .inp1 {
        width: 180px;
        height: 40px;


    }

    #popular_tours {
        flex-direction: column;

    }

    .pop,
    .ul {
        width: 335px;

    }

    .row,
    .row1,
    .row2 {
        grid-template-columns: 1fr;
        height: auto;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north,
    .kashmir,
    .bd,
    .ban {
        height: 176px;
    }


    #whyCUS .choose {
        flex-direction: column;
    }

    #whyCUS .c1,
    #whyCUS .c2,
    #whyCUS .c3 {
        width: 100%;
        max-width: none;
        margin: 0 auto;
    }

    #whyCUS .c3 {
        margin-top: 24px;
    }

    #whyCUS h3 {
        font-size: 20px;
    }

    #whyCUS .gg {
        font-size: 14px;
        width: 100%;
        max-width: 271px;

    }
    .line{
        width: 335px;
height: 1px;
    }



}